@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html, body, #root {
    height: 100%;
}


html, body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  overflow: hidden;
}


.safe-area {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.safe-top {
  padding-top: env(safe-area-inset-top);
}

@supports not (padding-top: env(safe-area-inset-top)) {
  .safe-area {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .safe-bottom {
    padding-bottom: 20px;
  }
  .safe-top {
    padding-top: 20px;
  }
}